
Scenes/game.unity.meta

TextMesh Pro/

*.meta

Greek Internet Simulator/Library/

Greek Internet Simulator/.vs/Greek Internetic Simulator Build 0.01/v16/.suo

Greek Internet Simulator/.vs/Greek Internetic Simulator V 0.01/v16/.suo

Greek Internet Simulator/UnityEditor.UI.csproj

Greek Internet Simulator/UnityEngine.UI.csproj

Greek Internet Simulator/Packages/

Greek Internet Simulator/obj/

Greek Internet Simulator/Logs/
